<div class="custom-nav">
    <div class="row nav-row">
        <div class="col col-5">
            <!-- <div class="brand-content">
                <img width="200" alt="Star Wars Logo" src="../assets/imgs/adma-logo.png">
            </div> -->
        </div>
        <div class="col col-7">
            <div class="btn-content">
                <button class="btn btn-outline-warning" (click)="onClearChat()">
          <span class="fas fa-power-off"></span>
          <span class="btn-text d-none d-sm-inline-block">Reiniciar bot</span>
        </button>
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    <input type="text" class="form-control chat-input" placeholder="digite a sua mensagem" aria-label="Username" (keyup)="onSendMessage($event)">
    <div class="message-content" *ngFor="let message of chat">
        <div>
            <span class={{getMessageClass(message.sender)}}>
        <span *ngIf="message.sender === 'bot'" class={{getBotIcon()}}></span>
            <span>{{message.text}}</span>
            </span>
        </div>
        <div>
            <span class="text-muted timestamp">{{message.timestamp}}</span>
        </div>
    </div>
</div>